#
# Author: Saloshp <SaloshP@Gmail.Com> @saloshp
#

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

alias x='exit'

alias ll='ls -l --color=auto'
alias lll='ls -lash --color=auto'

alias nn='lsof -nP -i'
