[Match]
Name=br-{{ vnet }}

[Network]
DNS=1.1.1.1
DNS=1.0.0.1
{% if 'dhcp_external' in nets[vnet].tags %}
DHCP=ipv4

[DHCPv4]
UseHostname=false
{% elif 'internal' in nets[vnet].tags %}
Address={{ nets[vnet]['gateway'] }}/{{ nets[vnet]['prefix'] }}
{% endif %}

