#
# /etc/hosts: static lookup table for host names
#

#<ip-address>   <hostname.domain.org>   <hostname>
127.0.0.1       localhost.localdomain   localhost
::1             localhost.localdomain   localhost

{% if nets is defined and nets.keys() | length > 0 %}
{%   for net in nets.keys() | sort %}
##### Net '{{ net }}' - {{ nets[net].cidr }} [{{ nets[net].hostmin }}-{{ nets[net].hostmax }}] / {{ nets[net].netmask }}
{%     for hostname in ips[net].keys() | sort %}
{%       if ips[net][hostname] is mapping and 'ip' in ips[net][hostname].keys() and ips[net][hostname].ip and hostname != 'localhost' %}
{%         set line_prefix = '# ' if trace_mode | bool and net != hostvars[hostname].cnc_net else '' %}
{{ line_prefix }}{{ ips[net][hostname].ip }}	{{ hostname }}.{{ fqdn }}	{{ hostname }}
{%       endif %}
{%     endfor %}
{%   endfor %}
{% else %}
127.0.0.1       {{ inventory_hostname }}.{{ domain_name }}   {{ inventory_hostname }}
{% endif %}

127.0.0.127     detectportal.firefox.com
127.0.0.127     versioncheck.prod.mozaws.net
127.0.0.127	static-media-prod-cdn.sumo.moz.works
