#!/bin/bash
echo "                       __         "
echo "   _____  __ /\  ____ (__) ____   "
echo "  /     \|  |  \/    \|  |/  _ \  "
echo " (  | |  \  |  /   |  \  (  (_) ) "
echo "  \_|_|  /____/ \__|  /__|\____/  "
echo "       \/           \/ munio.io   "
echo "                                  "
