[Resolve]
{% if inventory_hostname not in groups['dns-nodes'] %}
DNS={% for node in groups['dns-nodes'][:3] %}{% set net = hostvars[node].cnc_net %}{{ ips[net][node].ip }} {% endfor %}
{% else %}
DNS={{ external_dns | list | join(' ') }}
{% endif %}

Domains={{ fqdn }}
