{% extends "file.j2" %}

{% block content %}
---
pacman:
  packages: []
  services: []
  username:  "default"
  groupname: "default"
  files:
  - name: "default.yml"
    path: "/tmp"
  root_dir:  "/tmp/default"

apt:
  packages: []
  services: []
  username:  "default"
  groupname: "default"
  files:
  - name: "default.yml"
    path: "/tmp"
  root_dir:  "/tmp/default"

yum:
  packages: []
  services: []
  username:  "default"
  groupname: "default"
  files:
  - name: "default.yml"
    path: "/tmp"
  root_dir:  "/tmp/default"

{% raw %}conf: "{{ vars[ansible_pkg_mgr] | default({}) }}"{% endraw %}

#bind_host: "127.0.0.1"
#bind_port: "12345"

service_final:
  state:   "restarted"
  enabled: "yes"

{% endblock %}

