# Author: Salo Shp <saloshp@gmail.com>
#
#    This file is part of Nylox. <https://github.com/nylox/nylox.git>
#
#    Nylox is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Nylox is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with Nylox.  If not, see <http://www.gnu.org/licenses/>.
#

local-address {{ bind_host | d('127.0.0.1') }};

ddns-update-style interim;

option domain-name "{{ fqdn }}";
option domain-name-servers 8.8.8.8, 8.8.4.4, ns.{{ fqdn }};

default-lease-time 600;
max-lease-time 7200;

authoritative;

log-facility local7;

allow booting;
allow bootp;

ignore client-updates;
set vendorclass = option vendor-class-identifier;

option pxe-system-type code 93 = unsigned integer 16;

{% for net in nets.keys() | sort %}
# TODO DESC {{ net }}
include "/etc/dhcp.d/net_{{ net }}.conf";
{% endfor %}
