{
    "allow_user_certificates": true,
    "allowed_users": "*",
    "default_extensions": [
        {
            "permit-pty": ""
        }
    ],
    "key_type": "ca",
    "default_user": "{{ sshauth_remote_user }}",
    "ttl": "5m0s"
}

