$TTL 86400
@	IN	SOA     ns1.{{ fqdn }}.    hostmaster.{{ fqdn }}. (
                        5410	   ; serial
                        21600	   ; refresh after 6 hours
                        3600	   ; retry after 1 hour
                        604800     ; expire after 1 week
                        86400 )    ; minimum TTL of 1 day

{% for node in groups['dns-nodes'] %}
        IN	NS	ns{{ loop.index }}.{{ fqdn }}.
{% endfor %}

{% for node in groups['dns-nodes'] %}
{% set net = hostvars[node].cnc_net %}
ns{{ loop.index }}     IN	A	{{ ips[net][node].ip }}
{% endfor %}

{% for node in groups['dns-nodes'] %}
{{ node }}	IN	CNAME   ns{{ loop.index }}
{% endfor %}

{% for node in groups['all'] %}
{%   if node not in groups['dns-nodes'] %}
{%     set net = hostvars[node].cnc_net %}
{%     if net not in allocations.bynet or not node in allocations.bynet[net].keys() %}
{%       if trace_mode is defined and trace_mode | bool                               %}
; Skipped node '{{ node }}'
{%       endif                                                                        %}
{%       continue                                                                   %}
{%     endif     %}
{%     set ip = ips[net][node].ip %}
{%     if ip | ipaddr('address') %}
{{ node }}      IN      A       {{ ip }}
{%     else %}
; Failed adding ip '{{ ip }}' for node '{{ node }}'
{%     endif %}
{%   endif %}
{% endfor %}

