$TTL 86400 
@	IN	SOA	{{ fqdn }}.	hostmaster.{{ fqdn }}. (
			5410       ; serial                     
			21600      ; refresh after 6 hours                     
			3600       ; retry after 1 hour                     
			604800     ; expire after 1 week                     
			86400 )    ; minimum TTL of 1 day        


{% for node in groups['dns-nodes'] %}
{%   set net = hostvars[node].cnc_net %}
	IN       NS     ns{{ loop.index }}.{{ fqdn }}.
{% endfor %}

{% for node in groups['dns-nodes'] %}
{%   set net = hostvars[node].cnc_net %}
{{ ips[net][node].ip | ipaddr('revdns') }}     IN	PTR	ns{{ loop.index }}.{{ fqdn }}.
{% endfor %}

{% for node in groups['all'] %}
{%   if node not in groups['dns-nodes'] %}
{%     set net = hostvars[node].cnc_net | default('UNDEFINED_CNC_NET') %}
{%     if net not in allocations.bynet or not node in allocations.bynet[net].keys() %}
{%       if trace_mode | bool                               %}
; Skipped node '{{ node }}'
{%       endif                                                                        %}
{%       continue                                                                   %}
{%     endif                                                                        %}
{%     set ip = ips[net][node].ip %}
{%     if ip | ipaddr('address') %}
{{ ip.split('.') | reverse | list | join('.') }}.in-addr.arpa    IN      PTR     {{ node }}.{{ fqdn }}. ; {{ ip }}
{%     else %}
; Failed adding ip '{{ ip }}' for node '{{ node }}'
{%     endif %}
{%   endif %}
{% endfor %}
