// vim:set ts=4 sw=4 et:

options {
    directory "/var/named";
    pid-file "/run/named/named.pid";

    listen-on { {{ bind_host }}; };
    listen-on-v6 { any; };

    allow-recursion { 127.0.0.1; {{ nets[cnc_net].cidr }}; };
    allow-transfer { none; };
    allow-update { none; };

{% if external_dns is defined and external_dns | length > 0 %}
        forwarders {
{%   for dns in external_dns %}
            {{ dns }};
{%   endfor %}
        };
{% endif %}

    version none;
    hostname none;
    server-id none;
};

zone "localhost" IN {
    type master;
    file "localhost.zone";
};

zone "0.0.127.in-addr.arpa" IN {
    type master;
    file "127.0.0.zone";
};

zone "1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.ip6.arpa" {
    type master;
    file "localhost.ip6.zone";
};

zone "255.in-addr.arpa" IN {
    type master;
    file "empty.zone";
};

zone "0.in-addr.arpa" IN {
    type master;
    file "empty.zone";
};

zone "." IN {
    type hint;
    file "root.hint";
};

zone "{{ fqdn }}" IN {
        type master;
        file "domain.zone";
        allow-update { none; };
};

zone "{{ nets[cnc_net].cidr | ipaddr('revdns') }}" IN {
        type master;
        file "domain.rr.zone";
        allow-update { none; };
};

zone "lb" IN {
        type forward;
        forward only;
        forwarders {
          // query local consul first
          {{ ips[cnc_net][inventory_hostname].ip }} port 8600;
          // then other nodes
{% for dns_node in groups['lb-nodes'] %}
{%   if inventory_hostname != dns_node %}
          {{ ips[cnc_net][dns_node].ip }} port 8600;
{%   endif %}
{% endfor %}
        };
};

logging {
    channel xfer-log {
        file "/var/log/named/named.log" versions 25 size 25m;
            print-category yes;
            print-severity yes;
            severity info;
            print-time yes;
        };
        category xfer-in { xfer-log; };
        category xfer-out { xfer-log; };
        category notify { xfer-log; };
};
