// vim:set ts=4 sw=4 et:

options {
    directory "/var/named";
    pid-file "/run/named/named.pid";

    listen-on { {{ bind_host }}; };
    listen-on-v6 { ::1; };

    allow-recursion {
{% for item in allow_recursion %}
        {{ item }};
{% endfor %}
    };

    allow-transfer {
{% for item in allow_transfer %}
        {{ item }};
{% endfor %}
    };

    allow-update {
{% for item in allow_update %}
        {{ item }};
{% endfor %}
    };

    allow-query {
{% for item in allow_query %}
        {{ item }};
{% endfor %}
    };

    forwarders {
{% if external_dns is defined and external_dns | length > 0 %}
{%   for dns in external_dns %}
        {{ dns }};
{%   endfor %}
{% endif %}
    };

    version none;
    hostname none;
    server-id none;

    dnssec-enable no;
    dnssec-validation no;
    auth-nxdomain no;    # conform to RFC1035

    max-cache-ttl 3;
    max-ncache-ttl 3;

};

zone "localhost" IN {
    type master;
    file "localhost.zone";
};

zone "0.0.127.in-addr.arpa" IN {
    type master;
    file "127.0.0.zone";
};

zone "1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.ip6.arpa" {
    type master;
    file "localhost.ip6.zone";
};

zone "255.in-addr.arpa" IN {
    type master;
    file "empty.zone";
};

zone "0.in-addr.arpa" IN {
    type master;
    file "empty.zone";
};

zone "." IN {
    type hint;
{% if connectivity_mode == 'online' %}
    file "root.hint";
#    file "offline.zone";
{% else %}
#    file "root.hint";
    file "offline.zone";
{% endif %}
};

zone "{{ fqdn }}" IN {
        type master;
        file "domain.zone";
        allow-update { none; };
};

zone "{{ nets[cnc_net].cidr | ipaddr('revdns') | regex_replace('^([0]+\\.)*','') }}" IN {
        type master;
        file "domain.rr.zone";
        allow-update { none; };
};

{% if service_discovery_provider == 'todero' %}
# Todero service-discovery forward zone settings
{%   set port = 5453 %}
{% elif service_discovery_provider == 'consul' %}
# Consul service-discovery forward zone settings
{%   set port = 8600 %}
{% endif %}
zone "todero.local" IN {
        type forward;
        forward only;
        forwarders {
          // query local first
          {{ ips[cnc_net][inventory_hostname].ip }} port {{ port }};
          // then other nodes
{% for dns_node in groups['lb-nodes'] %}
{%   if inventory_hostname != dns_node %}
          {{ ips[cnc_net][dns_node].ip }} port {{ port }};
{%   endif %}
{% endfor %}
        };
};

zone "consul" IN {
        type forward;
        forward only;
        forwarders {
          // query local first
          {{ ips[cnc_net][inventory_hostname].ip }} port 8600;
          // then other nodes
{% for dns_node in groups['lb-nodes'] %}
{%   if inventory_hostname != dns_node %}
          {{ ips[cnc_net][dns_node].ip }} port 8600;
{%   endif %}
{% endfor %}
        };
};

# See https://kb.isc.org/docs/aa-01526 for more
logging {
     channel syslog {
          print-time yes;
          print-category yes;
          print-severity yes;
          syslog daemon;
          severity debug;
     };
     category default {syslog; };
};

