#
#    This file is part of Munio. <https://github.com/salosh/munio.git>
#
#    Munio is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Munio is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with Munio.  If not, see <http://www.gnu.org/licenses/>.
#
# Auto network configuration for '{{ net }}' network.
#
#   Network CIDR: "{{ nets[net].cidr }}"
#   Network tags: "{{ nets[net].tags | list | sort | join(',') }}"
#
{% if net in allocations.bynet.keys() %}
{%   if node in allocations.bynet[net].keys() %}
{%     set cfg = allocations.bynet[net][node] %}
DEVICE={{ cfg.ifnames[0] }}
ONBOOT=yes
{%     if 'dhcp' in cfg.tags %}
BOOTPROTO=dhcp
{%     elif 'static' in cfg.tags %}
BOOTPROTO=none
NETWORK={{ nets[net].network }} 
NETMASK={{ nets[net].netmask }}
IPADDR={{ ips[net][node].ip }}
GATEWAY={{ nets[net].gateway }}
# TODO XXX FIXME
DNS=1.1.1.1
{%     endif %}
{%   else%}
# No configuration for node '{{ node }}'
{%   endif %}
{% else%}
# No configuration for net '{{ net }}'
{% endif %}
TYPE=Ethernet
USERCTL=no
PEERDNS=no
