//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

zone "{{ fqdn }}" IN {
        type master;
        file "domain.zone";
        allow-update { none; };
};

zone "{{ nets[cnc_net].cidr | ipaddr('revdns') | regex_replace('^([0]+\\.)*','') }}" IN {
        type master;
        file "domain.rr.zone";
        allow-update { none; };
};

{% if service_discovery_provider == 'todero' %}
# Todero service-discovery forward zone settings
{%   set port = 5453 %}
{% elif service_discovery_provider == 'consul' %}
# Consul service-discovery forward zone settings
{%   set port = 8600 %}
{% endif %}
zone "lb" IN {
        type forward;
        forward only;
        forwarders {
          // query local first
          {{ ips[cnc_net][inventory_hostname].ip }} port {{ port }};
          // then other nodes
{% for dns_node in groups['lb-nodes'] %}
{%   if inventory_hostname != dns_node %}
          {{ ips[cnc_net][dns_node].ip }} port {{ port }};
{%   endif %}
{% endfor %}
        };
};

